

.about-me-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px 0 0 0;
    height: auto;
    min-height: 40rem;
    padding: 12rem 0;
    
  }
  .about-me-parent {
    max-width: 1000px;
    width: 80%;
    height: 60%;
    
  }
  .about-me-card {
    background-color: whitesmoke;
    display: flex;
    width: 100%;
    box-shadow: 0 0px 20px -2px #1f2235;
    border-radius: 50px 30px 30px 50px;  
  }
  .about-me-profile {
    background-color:whitesmoke;
    width: 55%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    justify-content: center;
    border-radius: 30px 30px 30px 30px; 
    border: #1f2235;
    background-color: tomato;
    margin: 50px;
    padding-top: 90px; 
    
  }
  .profile-pictureA-background{
    height: 30%;
    width: 60%;
    background-image: url("../../assets/AboutMe/me.jpg");
    background-size: cover;
    border-radius: 50%;
    background-repeat: no-repeat;
    margin-left:80px;
    padding-top: 250px;
   color: white;

}

.profile-text{
  color: white;
  margin-left:80px;
  font-weight: bold;
}
  .about-me-details {
    width:45%;
    text-align:justify;
    margin: 2px;

    

  }
  .about-me-description {
    font-size: 12px;
    width: 50%;
    color: white;
    padding-top:150px ;
    border: #1f2235;
    padding: 100px;
  
  }
  .about-me-highlights {
    margin: 80px 0;
    
   
  }
  .highlight-heading {
   
    font-size: 16px;
    margin: 0 0 5px 0;
  
   
  }
  .highlight {
    display: flex;
    align-items: center;
    margin: 5px;
    font-size: 14px;
    
  }
  .highlight-blob {
    position: absolute;
    left: 700px;
    height: 8px;
    width: 8px;
    margin: 0 10px 0 0;
    background-color: var(--dark-orange);
    border-radius: 50%;
    justify-content: space-between;
  
   


  }
  .highlighted-btn {
    margin: 0 0 0 30px;
    justify-content: center;
  }

/*IPAD PRO RESPONSIVENESS*/
@media only screen and (max-width: 1180px) {
  .about-me-container {
    margin: 50px 0 0 0;
    height: auto;
    min-height: 10rem;
    padding: 4rem 0;
  }

  .about-me-parent {
    width: 90%;

  }
  .about-me-card{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .about-me-profile {
    height: 100%;
    width: 45%;
  .profile-pictureA-background{
      height: 20%;
      width: 50%;
      border-radius: 20%;
      margin-left:30px;
      
  }
}
}
  
  /*IPAD PRO RESPONSIVENESS*/
 @media all and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait) {
    .about-me-container {
      height: auto;
      min-height: 20rem;
      padding: 2rem 0;
    }

    .about-me-parent {
      width: 88%;

    }
    .about-me-card{
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  @media only screen and (max-width: 898px) {
    .about-me-profile {
      height: 50%;
      width: 88%;
    .profile-pictureA-background{
        height: 50%;
        width: 80%;
        border-radius: 50%;
        margin-left:30px;
        
    }
    }
    .about-me-details {
      width: 88%;
      font-size:2px;
      padding: 10px;

    }
    .highlight-blob{
      left: 40px; 
    }
  }
  @media only screen and (max-width: 466px) {
    .about-me-options {
      display: flex;
      flex-direction: column;
      font-size:2px;
    }
    .about-me-options .highlighted-btn {
      margin: 20px 0 0 0 !important;
    }
    .about-me-options button {
      width: 100%;
    }
  }
 