.header-container {
  width: 100%;
  display: flex;
  justify-content: center;
  color: var(--white);
}
/*contantme nav*/
.header-parent {
  width: 100%;
  background-color: #dee1dd;
  display: flex;
  justify-content: space-around;
  position: fixed;
  top: 0;
  align-items: center;
  gap: 16px;
  color:#1f2235;
  z-index: 3;
  font-size:x-small;
}
/*
.header-logo {
  position:relative;
  left:-200px;
  z-index: 3;
  height: 70px;
  width: 70px;
  padding-top:10px;
 

}*/
.img{
  width:450px;
  height:450px;            ;
}

  
  .second-title {
    font-size: 60px;
    font-family: "Allan Bold";
    color: var(--light-yellow);
    
    
  }
  /*home&contact*/
  .header-options {
    display: flex;
    align-items: right;
  }
  /*contact*/
  .header-option {
    font-size: 22px;
    cursor: pointer;
    font-weight: 800;
  
  }
  .header-hamburger {
    display: none;
    color: var(--white);
  }
  /*about,resume,project& testimonial*/
  .header-option-seperator {
    margin: 0 50px 0 0;
    color:#1f2235;
  }
  .selected-header-option {
    color: var(--dark-orange);
  }
  
  /*IPAD PRO RESPONSIVENESS*/
  @media only screen and (max-width: 1110px) {
    header-parent {
      width: 80%;
     
    }
    .header-hamburger {
      display:block;
      
    }
  }
  @media only screen and (max-width: 970px) {
    .header-hamburger {
      display:block;
      
    }
    .header-parent {  
      width: 100%;
      padding: 0 40px;
      position:absolute;
    }
    .header-options {
      display: flex;
      flex-direction: column;
      position: absolute;
      left: -100%;
      transition: all 0.8s ease-out;
      top: 0px;
      height: 60vh;
      width: 100%;
      justify-content:space-between;
      background-color: #1f2235;
      z-index: 1000;
      opacity: 0.5;
      color: white;
     
    }
    .header-option-seperator {
      margin: 0;
      color: white;
    }
    .selected-header-option {
      color: var(--white);
    }
    .header-hamburger-bars {
      font-size: 36px;
      cursor: pointer;
      margin: 0px 10px;
      color:var(--white)
    }
    .show-hamburger-options {
      left:0;
      opacity: 1;
    }
    
  }