.home-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    background-image: url('../../assets//Home/bg.jpg');
    position: relative;
    width: 100%;
    height: auto;
    min-height: 35rem;
    padding: 10rem 0;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment:scroll;
    background-size:cover;
}
@media only screen and (max-width: 1110px) {
    .home-container{
        height: auto;
        min-height: 4rem;
        padding: 0rem 0;
     
    }
  }