.home-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    background-image: url('../../assets//Home/bg.jpg');
    position: relative;
    width: 100%;
    height: auto;
    min-height: 30rem;
    padding: 10rem 0;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment:scroll;
    background-size:cover;
}
